body{
    background-color: black;
    color: white;
}

.card{
    background-color: black;
    color: white;
    border: solid 2px orange;
    border-radius: 6px;
    margin-top: 5vh;
}
.nav{
    margin-top: 2vh;
}
.nav a{
    color: orange;
}
.one{
    color: white;
}
.navbar-brand{
    font-style: italic;
    font-weight: bolder;
    font-family: cursive;
    font-size: 2rem;
}
.navbar-form{
    margin-top: 2vh;
    margin-left: 15vw;
}
.input-group-btn i{
    color: orange;
}
.welcome{
    margin-top:5vh ;
    text-align: center;
}
.image{
    border-radius: 6px;
    background-color: orange;
    color: black;
    margin-bottom: 2vh;
    width: 10vw;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 20vw;
}
