{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="row welcome">
   <h1>{{welcome}} </h1> 
</div>


<div class="container">
    <div class="row">
        {% for item in images %}
        <div class="row">
            <div class="card">
                <img src="{{item.image.url}}" class="img-responsive" alt="Image">
           
            <h1>{{item.image_name}}</h1>
            <h3>{{item.image_category}} | {{item.image_location}} </h3>
            <h5>Uploaded: {{item.published | timesince}} ago</h5>
            <br>
            <p>{{item.image_description}} </p>
            </div>
            
        </div>
        {% empty %}
      <h4>You don't have any images yet</h4>
        {% endfor %}
        
    </div>
</div>
{% endblock %}