{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="row welcome">
   <h1>{{welcome}} </h1> 
</div>


<div class="container">
    <div class="row">
        {% for item in images %}
        
            
                <div class="col-md-3">
                    <div class="card">
                <img src="{{item.image.url}}" class="img-responsive card-img-top" alt="Image">
           
            <h1>{{item.image_name}}</h1>
            <h3>{{item.image_category}}   </h3>
            <h4>{{item.image_location}}</h4>
            <h5>{{item.published | timesince}} ago</h5>
            <br>
            <p>{{item.image_description}} </p>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <a href="#" class="btn image"><i class="bi bi-sunglasses"></i></a>
                </div>
               
                
                <div class="col-md-4">
                 <a href="#" class="btn image"><i class="bi bi-share-fill"></i></a>   
                </div>
                <div class="col-md-1"></div>
            </div>    
                </div>
                
            </div>
            
        
        {% empty %}
      <h4>You don't have any images yet</h4>
        {% endfor %}
        
    </div>
</div>
{% endblock %}