{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="row welcome">
   <h1>Locations</h1> 
</div>


<div class="container">
    <div class="row">
        {% for item in locations %}
        <div class="col-md-4">
        <div class="card">
<!-- Button trigger modal -->
<img src="{{item.image.url}}" class="img-responsive card-img-top" alt="Image">
<h3>{{item.image_name}}</h3>
<h5>{{item.published | timesince}} ago</h5>
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{item.id}}">
<i class="bi bi-info-square-fill"></i>
</button>

<!-- Modal -->

</div>
        </div>
      
      <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        <button   class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <img src="{{item.image.url}}" class="img-responsive card-img-top" alt="Image">

       

    
    </div>
    <div class="modal-body">
        <h3>{{item.image_name}}</h3>

    <h5>Category ~ <span class="two" >{{item.image_category}}</span></h5>
     <p>{{item.image_description}} </p>
    <h3 class="modal-title" id="exampleModalLabel">{{item.image_location}}
   <h5>{{item.published | timesince}} ago</h5>
    </div>
    <div class="modal-footer">
        <a href="https://memory-bubbles.herokuapp.com/{{item.image.url}}" class="share" ><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Share</button></a>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    
    </div>
</div>
</div>
</div>      
        
        {% empty %}
      <h4>You don't have any images yet</h4>
        {% endfor %}
    

        
    </div>
</div>







<div class="row contact">
    <div class="col-md-6">
        <h2>Contacts</h2>
        <ul>
            <li><a href="https://www.instagram.com/torimakena/"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li><a href="https://twitter.com/Tori_makena"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/tori.makena.98"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/victoria-makena-478a411b5/"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://github.com/tori-bot"><i class="bi bi-github"></i> Github</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Quick links</h3>
        <ul>
            <li><a href="{% url 'home' %} " alt="">Home</a></li> 
            <li><a href="" alt="">Categories</a></li>
            <li><a href="" alt="">Locations</a></li>
        </ul>
    </div><div class="footer">
    <a>tori-bot   c 2022   Victoria Makena</a>

</div>
</div>

{% endblock %}