{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if searched_images %}
        <h2>Found {{ searched_images|length }} for searched category {{message}}</h2>
        {% else %}
        <h2> Found 0 images for the category. {{message}}</h2>
        {% endif %}
    </div>
    
        {% if searched_images %}
        {% for item in searched_images %}
        <div class="row">
            <img src="{{item.image.url}}" class="img-responsive" alt="Image">
           
            <h1>{{item.image_name}}</h1>
            <h3>{{item.image_category}} | {{item.image_location}} </h3>
            <h5>Uploaded: {{item.published | timesince}} ago</h5>
            <br>
            <p>{{item.image_description}} </p>
        </div>
        {% empty %}
      <h4>You don't have any images yet</h4>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}